<br/><br/>

<label>Name:</label>
<strong>{{name}}</strong>
<br/>

<label>Type:</label>
<strong>{{typeString}}</strong>
<br/>

<label>Position:</label>
<strong><input type="number" id="input-{{getId}}-x" value="{{position.x}}" size="4" maxlength="4" onchange="Fabrique.Debug.SceneEditor.onPositionChange({{getId}}, 'x')"/></strong> x
<strong><input type="number" id="input-{{getId}}-y" value="{{position.y}}" size="4" maxlength="4" onchange="Fabrique.Debug.SceneEditor.onPositionChange({{getId}}, 'y')"/></strong>
<br/>

<label>Scale:</label>
<strong><input type="number" id="input-{{getId}}-scale-x" value="{{scale.x}}" size="4" maxlength="4" onchange="Fabrique.Debug.SceneEditor.onScaleChange({{getId}}, 'x')"/></strong> x
<strong><input type="number" id="input-{{getId}}-scale-y" value="{{scale.y}}" size="4" maxlength="4" onchange="Fabrique.Debug.SceneEditor.onScaleChange({{getId}}, 'y')"/></strong>
<br/>

<label>Alpha:</label>
<strong><input type="number" id="input-{{getId}}-alpha" value="{{alpha}}" size="4" maxlength="4" onchange="Fabrique.Debug.SceneEditor.onAlphaChange({{getId}})"/></strong>
<br/>

{{#if children}}
    <label>Children:</label>
    <strong>{{children.length}}</strong>
    <br/>
{{/if}}

{{#if texture}}
    <label>Texture:</label>
    {{#if texture.baseTexture.source.src}}
        <a href="{{texture.baseTexture.source.src}}" target="_blank">{{texture.baseTexture.source.src}}</a>
    {{else}}
        <strong>{{texture.baseTexture.source}}</strong>
    {{/if}}
    <br/>
{{/if}}
